button {
  padding: 10px, 16px;
  border-radius: 6px;
  background-color: blue;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  pointer-events: none;
}

button:hover {
  background-color: rgb(152, 152, 225);
  color: black;
}

.cancel-button {
  background-color: red;

  &:hover {
    background-color: rgb(222, 124, 124);
    color: black;
  }
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  .form-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .with-space {
      margin: 20px;
      padding: 5px;
      padding-top: 10px;
    }
    .form-row {
      display: flex;
      align-items: center;
    }
    .form-row label {
      width: 120px;
      text-align: right;
    }
    .form-row textarea {
      width: 400px;
      height: 150px;
      resize: none;
    }
  }
  .form-buttons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
