<a class="listing-card" [routerLink]="['/listings', listing.id]">
  <h3 class="card-title">{{ listing.brand }} {{ listing.model }}</h3>
  <div class="price">{{ listing.price | number: '1.0-0' }} Ft</div>
  <div class="card-badges">
    <span class="badge">{{ listing.fuel_type }}</span>
    @if (currentUser$ | async; as currentUser) {
      @if (currentUser.id === listing.user_id) {
        <span class="badge badge--owner">Saját hirdetés</span>
      }
    }
  </div>
  <div class="specs">
    <div>
      <span>Évjárat</span>
      <b>{{ listing.year }}</b>
    </div>
    <div>
      <span>Km óra állás</span>
      <b>{{ listing.mileage | number: '1.0-0' }} km</b>
    </div>
  </div>
  <p class="description">
    {{ listing.description }}
  </p>
</a>
