<div class="listing-card">
  <h3>{{ listing.brand }} {{ listing.model }}</h3>

  <div class="listing-info">
    <span>Évjárat: {{ listing.year }}</span>
    <span>Ár: {{ listing.price }} Ft</span>
    <span>Km. óra állás: {{ listing.mileage }} km</span>
    <span>Üzemanyag: {{ listing.fuel_type }}</span>
  </div>

  <p class="description">
    {{ listing.description }}
  </p>
  
  <div class="card-buttons">
    <button [routerLink]="['/listings/edit', listing.id]">Hirdetés szerkesztése</button>
    <button type="button" class="cancel-button" (click)="deleteListing()">Hirdetés törlése</button>
  </div>
</div>
